.contact {
    
    font-family: @font-family;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    display: none;
    // display: flex;
    flex-direction: column;
    


    @media (max-width: 500px) {
       width: 100%;
       
       
    }

.header {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white !important;
        margin-bottom: 0;

        h2 {
            font-size: 3rem;
        }

    }

 .body {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 100%;
        width: 100%;


        form {
            font-family: @font-family;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            height: 70vh;
            background-color: @dark-bg;
            
          

            label {
                margin-left: 50%;
                margin-right: 50%;
                font-size: 2.2rem;
                color: white;
                width: 50%;
                margin-bottom: 5px;
                @media (max-width:800px) {
                    font-size: 1.6rem;
                }
            }
            input, textarea, button {
                font-size: 2.2rem;
                margin-bottom: 15px;
                margin-left: 50%;
                margin-right: 50%;
                width: 50%;
                @media (max-width:800px) {
                    font-size: 1.6rem;
                }
            }

            .btn-submit {
                height: 40px;
                margin-left: 50%;
                margin-right: 50%;
             
                width: 50% !important;
            }

            
        }

    }
}