footer {
    font-family: @font-family;
    background-color: @dark-bg;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 10vh;

    p {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: 1.6rem;
        padding-bottom: 20px;

    }
}