footer {
    font-family: @font-family;
    background-color: white;
    font-weight: bold;
    color: @dark-bg;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 10vh;

    p {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        font-size: 1.6rem;
    

    }
}