// styles for header

#page-wrapper {
    width: 100vw;
    height: 100vh;
    background: #2e3842; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 1%;

        h1 {
            margin-right: 10%;
        }
    }
}