// styles for header

.jumbo {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    background: url('../img/mountain.jpg') no-repeat center center fixed;
    //background: @dark-bg; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: @font-family;
    
    @media (max-width: 500px) {
        width: 100vw;
        height: 50vh;
    }

   

    #jubmo_down_arrow {
        margin-left: 49%;
        margin-top: 10%;
        font-size: 2.0rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 1%;
        padding-top: 1%;
        font-size: 1.6rem;

        h2 {
            margin-right: 2%;
        }

       
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 300px;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;

       

        @media (max-width: 500px) {
            h1 {
                margin-bottom: 30px;
            }
           p {
               line-height: 1;
               font-size: 20px;
           }
        }

        h1 {
            font-size: 6.4rem;
            margin-bottom: 60px;
            border-top: 6px solid white;
            border-bottom: 6px solid white;


        }

    

        p {
            line-height: 2;
            font-size: 1.6rem;

        }
         a {
            width: 200px;
            height: 100px;
            font-size: 1.2rem;
            background-color: @highlight;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                text-align: center;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                
            }
            
        }

       

       

    }

    .menu {
        display: none;
        position: fixed;
        top: 40px;
        right: 0;
        width: 200px;
        height: 15vh; 
        background-color: white;
        color: @dark-bg;
        border-left: none;
        border-bottom: none;
        z-index: 2; 
      }
      
      .menu ul li{
        list-style-type: none;
        font-size: 1.6rem;
        padding: 5px 5px;
        text-align: center;
      }

      .menu ul li a{
          text-decoration: none;
          color: @dark-bg;
      }

      .menu ul li a:hover{
        color: @highlight;
    }
      
      .menu--open {
        display: block;
      }

   
}